.header-checkout {
  background: #e3fbef;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  border-radius: 10px 10px 0px 0px;
}

.btn-credit-card {
  border-radius: 100px;
  border: 1px solid #d3d3d3;
  background: transparent;
  padding: 10px 15px;
  color: #000;
  font-family: "Termina Test";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.checkout-section {
  max-width: 1022px;
  border-radius: 10px;
  border: 1px solid #aaa;
}

.label-checkout {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 28px;
}
.input-field-checkout {
  color: #777;
  font-family: "Termina Test";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 10px;
}

.input-field-checkout-month {
  color: #777;
  font-family: "Termina Test";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0px;
  border-top-right-radius: 0px;
  border-end-end-radius: 0px;
  border: none;
  border-right: 1px solid #ced4da;
}

.input-field-checkout-year {
  color: #777;
  font-family: "Termina Test";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 10px 0px 10px;
  border-top-left-radius: 0px;
  border-end-start-radius: 0px;
  border: none;
}

.input-field-checkout-year:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.input-field-checkout-month:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.month-year-input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
}

.input-group-checkout {
  padding: 20px;
}

.bank-account-text {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: italic;
  font-weight: 800;
  line-height: 28px;
  padding-bottom: 20px;
}
.border-bank {
  border-bottom: 1px solid #aaaaaa;
  margin: 30px 0px;
}

.drag-img {
  border-radius: 5px;
  border: 1px dashed #444343;
  height: 214px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.drag-img-text {
  color: #9d9d9d;
  font-family: "Termina Test";
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.drag-img-button {
  border-radius: 5px;
  border: 1px solid #21e786;
  box-shadow: 2px 2px 0px 0px rgba(0, 31, 63, 0.1) inset;
  color: #000;
  font-family: "Termina Test";
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

.drag-uplod-img {
  max-width: 892px;
  margin: 0 auto;
  padding-top: 30px;
}
